$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$pink: #da0084;
$black: #000;
$white: #fff;

$blue: #2196f3;
$yellow: #ffeb3b;

.active-user {
  color: $pink;
  margin: 0;
}

body {
  background-color: $black;
  color: $pink;
  text-align: center;
}

// is a plain button (e.g. sign out)
.btn {
  background-color: $black !important;
  border: 1px solid $pink !important;
  border-radius: 15;
  color: $pink !important;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.btn:hover {
  background-color: $pink !important;
  border: 1px solid $pink !important;
  color: $black !important;
}

.btn:active {
  background-color: $pink !important;
  border: 1px solid $pink  !important;
  color: $black  !important;
}

// .btn:focus,
// .btn-default:focus {
//   background-color: $pink !important;
//   border: 1px solid $pink  !important;
//   color: $black  !important;
// }
// .container-fluid {
//   align: center;
// }

// .container-fluid {
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 0;
//   padding-right: 0;
//  }

// background top and bottom of button dropdowns
.dropdown-menu {
  background-color: $black;
  color: $pink;
}

// form {
//   background-color: $pink;
// }

// is the dropdown part of the button
fieldset {
  background-color: $black;
  color: $pink;
}

.closed {
  max-width: 300px;
}

// this is the
.game {
  background: $black;
  display: block;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 300px;

  .row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 300px;

    .top-bot-mid {
      border-left: 1px solid $pink;
      border-right: 1px solid $pink;
    }

    .mid-side {
      border-bottom: 1px solid $pink;
      border-top: 1px solid $pink;
  }

    .mid-mid {
      border: 1px solid $pink;
    }

    .col-xs-4 {
      display: block;
      font-size: 40px;
      height: 100px;
      line-height: 100px;
      padding: 0;
      text-align: center;
      vertical-align: middle;
      width: 100px;
    }
  }
}

// is the actual button (not the dropdown part)
.dropdown-toggle {
  background-color: $black;
  border: 1px solid $pink;
  color: $pink;
}

// sets height of the active-user message
.game-board {
  height: 75px;
  line-height: 75px;
  text-align: center;
  vertical-align: middle;

  div {
    height: 75px;
    line-height: 75px;
    text-align: center;
    vertical-align: middle;
  }

  h1 {
    color: $pink;
  }
}

.history {
  width: 300px;
};

.input {
  // below changes the label bg color but not font color?
  // background-color: $black;
  // color: $pink;
  width: 200px;
}

// is the input text fields and buttons (e.g. email, password, "sign in" button inside dropdown menu)
input {
  background-color: $black;
  border: 1px solid $pink;
  color: $pink;
  float: right;
  // padding-right: 25px;
}

legend {
  font-size: 18px;
  padding: 5px;
}

// sets height of the please-sign-in message
.please {
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;

  div {
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
  }
}

// sets height of the turn-or-winner message
.turn {
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;

  div {
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
  }
}

// sets height of the active-user message
.user-status {
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;

  div {
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
  }
}
