$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$pink: #da0084;
$black: #000;
$white: #fff;

$blue: #2196f3;
$yellow: #ffeb3b;

.active-user {
  color: $pink;
  padding: 5px;
}

body {
  background-color: $black;
  color: $pink;
}

// is a plain button (e.g. sign out)
.btn {
  background-color: $black;
  border: 1px solid $pink;
  border-radius: 15;
  color: $pink;
}

// background top and bottom of button dropdowns
.dropdown-menu {
  background-color: $black;
  color: $pink;
}

// form {
//   background-color: $pink;
// }

// is the dropdown part of the button
fieldset {
  background-color: $black;
  color: $pink;
}

// .btn-default.active.focus,
// .btn-default.active:focus,
// .btn-default.active:hover,
// .btn-default:active.focus,
// .btn-default:active:focus,
// .btn-default:active:hover,
// .open>.dropdown-toggle.btn-primary.focus,
// .open>.dropdown-toggle.btn-primary:focus,
// .open>.dropdown-toggle.btn-primary:hover {
//   background-color: $yellow;
//   // above is when menu is clicked
//   color: $blue;
// }

.closed {
  max-width: 300px;
}

// is the actual button (not the dropdown part)
.dropdown-toggle {
  background-color: $black;
  border: 1px solid $pink;
  color: $pink;
}

h1 {
  color: $pink;
}

.input {
  // below changes the label bg color but not font color?
  // background-color: $black;
  // color: $pink;
  width: 200px;
}

// is the input text fields and buttons (e.g. email, password, "sign in" button inside dropdown menu)
input {
  background-color: $black;
  border: 1px solid $pink;
  color: $pink;
  float: right;
  // padding-right: 25px;
}

legend {
  font-size: 18px;
  padding: 5px;
}

.row {

  text-align: center;
  vertical-align: middle;

  .top-bot-mid {
    border-left: 1px solid $pink;
    border-right: 1px solid $pink;
  }

  .mid-side {
    border-bottom: 1px solid $pink;
    border-top: 1px solid $pink;
}

  .mid-mid {
    border: 1px solid $pink;
  }

  .col-xs-4 {
    font-size: 40px;
    height: 100px;
    line-height: 100px;
    width: 100px;
  }

}
