$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$white: #fff; // background / title text
$dk-cyan: #00838f; // title background
$lt-cyan: #e0f7fa; // button dropdowns
$a-orange: #ff9e80; // highlight buttons and tile markers
$dk-grey: #ccc;

$board-weight: 3px;
$padding: 8px;

.active-user {
  color: $dk-cyan;
  margin: 0;
}

body {
  background-color: $white;
  color: $dk-cyan;
  font-family: 'Roboto', sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  text-align: center;
}

// is a plain button (e.g. sign out)
.btn {
  background-color: $dk-cyan !important;
  border: 1px solid $white !important;
  border-radius: 15;
  color: $white !important;
  font-family: 'Roboto', sans-serif;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.btn:hover {
  background-color: $a-orange !important;
  border: 1px solid $white !important;
  color: $white !important;
}

.btn:active {
  background-color: $a-orange !important;
  border: 1px solid $white  !important;
  color: $white  !important;
}

//width of holding image of x's and o's on sign in/up screen
.closed {
  max-width: 300px;
}

// text inside submit buttons in drop down menus
.close-dropdown {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

// changes colors of buttons inside dropdowns
.close-dropdown:hover {
  background-color: $a-orange;
  color: $white;
}

// removes the outline when buttons inside dropdowns are clicked
.close-dropdown:focus {
  outline: none !important;
}

// makes all things with this only take up width of screen
.col-xs-12 {
  max-width: 100%;
}

// background top and bottom of button dropdowns
.dropdown-menu {
  background-color: $lt-cyan;
  color: $dk-cyan;
  font-family: 'Roboto', sans-serif;
}

// is the dropdown part of the button
fieldset {
  background-color: $lt-cyan;
  color: $dk-cyan;
}

footer {
  background-color: $dk-cyan;
  bottom: 0; // fixed position at the bottom of the scren
  clear: both;
  color: $white;
  font-family: 'Roboto', sans-serif;
  padding-bottom: $padding / 2; // gives text buffer from top/bottom of div
  padding-top: $padding / 2; // gives text buffer from top/bottom of div
  position: fixed; // uses the bottom location
  width: 100%; // keeps it the width of the page
}

// this is the game board
.game {
  background: $white;
  display: block;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 300px;

  .row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 300px;

    .top-bot-mid {
      border-left: $board-weight solid $dk-cyan;
      border-right: $board-weight solid $dk-cyan;
    }

    .mid-side {
      border-bottom: $board-weight solid $dk-cyan;
      border-top: $board-weight solid $dk-cyan;
  }

    .mid-mid {
      border: $board-weight solid $dk-cyan;
    }

    .col-xs-4 {
      color: $a-orange;
      display: block;
      font-family: 'Roboto', sans-serif;
      font-size: 40px;
      font-weight: 900;
      height: 100px;
      line-height: 100px;
      padding: 0;
      text-align: center;
      vertical-align: middle;
      width: 100px;
    }
  }
}

// is the actual button (not the dropdown part)
.dropdown-toggle {
  background-color: $a-orange;
  border: 1px solid $white;
  color: $white;
  font-family: 'Roboto', sans-serif;
}

// adds side padding to inside of dropdown menus
form {
  padding-left: $padding / 2 !important;
  padding-right: $padding / 2 !important;
}

// sets height of the active-user message
.game-board {
  font-family: 'Roboto', sans-serif;
  height: 75px;
  line-height: 75px;
  text-align: center;
  vertical-align: middle;

  div {
    font-family: 'Roboto', sans-serif;
    height: 75px;
    line-height: 75px;
    text-align: center;
    vertical-align: middle;
  }
}

// adds width to history list so text is on one line
.history {
  width: 200px;
};

// limits width of images no matter how big the screen is
img {
  max-width: 450px !important;
  width: 100% !important;
}

// affects areas within dropdown menu
.input {
  font-family: 'Roboto', sans-serif;
  width: 200px;
}

// is the input text fields and buttons (e.g. email, password, "sign in" button inside dropdown menu)
input {
  background-color: $lt-cyan;
  border: 1px solid $dk-cyan;
  color: $dk-cyan;
  float: right;
  font-family: 'Roboto', sans-serif;
}

// changes color of outline when inside text fields in dropdown menus
input:focus {
  outline-color: $a-orange;
}

// sets height of the please-sign-in message
.please {
  font-family: 'Roboto', sans-serif;
  padding-top: $padding;
  text-align: center;
  vertical-align: middle;

  div {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    vertical-align: middle;
  }
}

// reduces side padding on each of 3 buttons after sign in
.smaller-padding-buttons {
  padding-left: $padding / 2;
  padding-right: $padding / 2;
}

// adds padding between gameboard and start new game button
.start-new-button {
  padding-top: $padding;
}

// div containing title image and top buttons
.title-buttons {
  background-color: $dk-cyan;
  -moz-box-shadow: 0 4px 4px -2px $dk-grey;
  -webkit-box-shadow: 0 4px 4px -2px $dk-grey;
  box-shadow: 0 4px 4px -2px $dk-grey;
  color: $white;
  font-family: 'Roboto', sans-serif;
  padding-bottom: $padding;
}

// adds empty space above/below title image
.title-img {
  padding-bottom: $padding;
  padding-top: $padding;
}

// turn-or-winner message
.turn {
  text-align: center;
  vertical-align: middle;

  div {
    padding-top: $padding;
    text-align: center;
    vertical-align: middle;
  }
}

// sets height of the active-user message
.user-status {
  padding-top: $padding;
  text-align: center;
  vertical-align: middle;

  div {
    text-align: center;
    vertical-align: middle;
  }
}
